/*CSS for Raul's Site*/
html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
}

body {
	background: url(pics/background.jpg);
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	background-color: black;
	background-position: center bottom;
	background-attachment: fixed;
}

header {
	width: 100%;
	margin: 0 auto;
	z-index: 10;
	position: fixed;
}

#title h1 {
	margin: 0;
	background: #000;
	text-align: center;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

nav li {
	float: left;
	width: 33%;
	background-color: #a614bf;
	height: 41px;
	text-align: center;
	font-size: 2em;
}

div#content {
	margin: 0 1em;
}

h1#greeting {
	margin-top: 3em;
	text-align: center;
	position: initial;
}

#stats {
	background-color: #a614bf;
	width: 25%;
	display: none;
	position: absolute;
}

div.pics {
	float: right;
	padding: 2em;
	margin-right: -262px;
	position: relative;
}

p#intro {
	float: left;
	text-align: justify;
}

#ironDiv {
	z-index: 10;
}

.pics img {
	width: 200px;
	height: 300px;
}

footer {
	background-color: #000;
	padding: 1em;
	bottom: 0px;
	clear: both;
	position: fixed;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	width: 97%
}

div#links {
	float: left;
	font-size: 2em;
}

#email {
	float: right;
	position: absolute;
	font-size: 2em;
	margin-right: 1em;
}

#links a {
	padding: 0 1em;
}